@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Yrsa');
html,
body {
    margin: 10px;
    color: #000000;
    font-family: 'Yrsa', arial, sans-serif;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    height:100%;
    font-size: 12px;
    line-height: 16px;
    overflow: scroll;
    position:relative;
}

.hdr::-webkit-scrollbar,
body::-webkit-scrollbar,
#leftInner::-webkit-scrollbar,
#left::-webkit-scrollbar,
#middle::-webkit-scrollbar,
#middle2::-webkit-scrollbar,
#right::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: none;
    color: black;
	cursor: pointer;

}

a:hover {
    text-decoration: line-through;
    color: black;
}

.workLinks {
	font-weight: bold;
	background-color: transparent;
}

.hdr {
	align-items: left;
	justify-content: left;
	position:fixed;
	z-index: 80;
}

#left, #middle, #middleLinks, #ephMain{
	top: 150px;
	position:relative;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

#left {
	font-family: futura, 'Lato';
}

#leftInner {
	position: fixed;
	margin-left: -10px;
	margin-top: 50px;
	overflow-y:scroll;
	font-family: futura, 'Lato';
}

#middleLinks {
	margin-top: 70px;
	position:fixed;
	overflow:hidden;
	left:50px;
	font-weight: bold;
	z-index:99;
	font-family: futura, 'Lato';
}

h3 {
	margin-bottom: 30px;
	text-align: center;
}

h4 {
	margin-bottom: 10px;
	text-align: center;
}

.lineP {
	margin-top: 30px;
}

.fig {
	cursor:pointer;
}

.titleLine {
	border-top: 1px solid black;
}

#right {
	top: 100px;
	right:20px;
	padding: 20px;
	background-color: #f7f7f7;
	bottom:0;
	font-family: futura, 'Lato';
    position:fixed;
    /*text-align: justify;*/
    overflow-y:scroll;
    overflow-x:hidden;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid black;
}

#videos {
	display:flex;
	margin-bottom: 50px;
}

.cvTable {
	width: 50%;
}
td {
	padding-right: 10px;
}

#cv {
	margin-top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	font-size: 18px;
	font-weight: bold;
}
.yr {
	color: #AAAAAA;
}

#ephMain {
	left: 25%;
	overflow: scroll;
}
.eph {
	position:fixed;
	border: 1px solid black;
	z-index: 100;
	margin: 5px;
	visibility: hidden;
}

#largeImgPanel {
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    border: 2px solid black;
}

@media (max-width:800px)  {
	#middle {
		margin-left: 15%;
	}
	#middleLinks {
		top:100px;
	}
	#left {
		margin-top: -50px;
	}
	#right {
		visibility: hidden;
	}
	#imgHdr {
		width: 250px;
	}
	#links {
		left:50px;
		top: 100px;
	}
	#cv {
		display: block;
		align-items: left;
		justify-content: left;
		margin-left: 0;
	}
	.cvTable {
		width: 90%;
	}

	#ephMain {
		left: 20px;
		overflow: scroll;
	}
	.eph {
		position: relative;
		border: 1px solid black;
	}
}